*.o
autom4te.cache
aclocal.m4
*.Po
*.lo
*.Plo
*.a
*.exp
*.la
Makefile
*.in
/src/.deps/
/src/.libs/
/tools/.deps/
/tools/.libs/
/config.log
/config.status
/configure
/libtool
/tools/hpclient
*.so
/**/.libs/
build